

.header {
    height: 80px;
    width: 100%;
    margin: auto;
}

.header H1 {
    table-layout: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color: whitesmoke;
    width: 940px;
    height: 500px;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.container h2 {
    table-layout: auto;
    text-align: left;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

input {
    width: 95%;
    height: 250px;
    margin: 20px;
    border-style: dotted;
    border-radius: 15px;
    font-size: 16px;
    font-size: 20px;
  }

input[type="number"] {
    height: 20px;
    width: 40px;
    border-style: solid;
    border-radius: 0;
}

.container_footer {
    border-top: grey;
    border-style: solid;
    border: 1px;
}


.button1 {
    background-color: red; 
    border: none;
    color: white;
    padding: 0px 15px 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    margin-left: 220px;
  }

  .button2 {
    background-color:grey; 
    border: none;
    color: white;
    padding: 0px 15px 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: right;
    margin-right: 220px;
  }